<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete</title>
  </head>
  <body>
    <h2>You are going to delete the user</h2>
    <form method="post" action="/user/<%=user.id%>?_method=DELETE">
      <input type="text" name="username" placeholder="Enter username" />
      <br />
      <input type="password" name="password" placeholder="Enter password" />
      <button>Delete</button>
    </form>
  </body>
</html>
