<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New user</title>
  </head>
  <body>
    <h2>Create new User</h2>
    <form method="post" action="/user">
      <textarea name="username" placeholder="username"></textarea>
      <br />
      <textarea name="Email" placeholder="Email"></textarea>
      <br />
      <input type="password" name="password" placeholder="Enter password" />
      <button>Submit</button>
    </form>
  </body>
</html>
